.CategoryCss p:hover, 
.CategoryCss p:active, 
.CategoryCss p.active {
    color: #0097CC;
    border-bottom: 2px solid #0097CC;
}

@media(max-width: 500px) {
    .CategoryCss {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .CategoryCss li {
        padding-left: 0;
        padding-right: 0.5rem;
    }

    .CatImage {
        display: none;
    }
}