.CategoryImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CategoryImage img {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80%;
    height: 80%;
}