.CartTotal {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.CartTotal p {
    margin-bottom: 0;
    font-size: 0.8rem;
    color: #7F7F7F;
}

.Total {
    font-size: 2rem;
    font-weight: bold;
}

.CheckoutButton {
    justify-content: center;
    margin-top: 2rem;
    border: none;
}

.CheckoutButton button {
    background-color: #0097CC;
    color: white;
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    outline: none;
}